@use "../../global" as *;
@use "../../partials" as *;

.real-estate-card {
  border: 0px solid #e6e6e6;
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  // padding: 1.5rem;
  background: transparent;

  .card-price {
    font-size: 1.5rem;
    color: $primary;
    margin-bottom: 0.5rem;
  }

  .card-title {
    font-size: clamp(28px, 5vw, 50px);
    font-weight: 500;
    max-width: 600px;
    margin-bottom: 0.5rem;

    .highlight{
      background-color: $primary;
      // color: $white;
      padding: 0.3rem 0.5rem;
      border-radius: 10px;
    }
  }

  .card-text {
    font-size: clamp(1rem, 5vw, 1.5rem);
    color: #4A4A4A;
    margin-bottom: 1rem;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
  }

  .card-details {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #777;

    span {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      i {
        font-size: 1rem;
      }
    }
  }

  .card-size {
    font-size: 0.9rem;
    font-style: italic;
    color: $para-color;
    margin-bottom: 1rem;
  }

  .card-btn {
    background-color: #f39c12;
    border: none;
    // font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
      background-color: #d35400;
    }
  }
}


