@use "../global" as *;
@use "../partials" as *;

.text-primary {
  color: $primary !important;
}
.cursor-pointer {
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}

.icon {
  width: 20px;
  height: 20px;
}

.text-muted {
  color: #a8adaf !important;
  font-size: 0.875rem;
  font-weight: 500;
}
.bg-black {
  background: #000000 !important;
}
.text-justify {
  text-align: justify;
}
@include breakpoint(desktop1024){
  .w-lg-75{
    width: 75%;
  }
}
.author-img,
.icon-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.hide-scrollbar{
  overflow: auto; /* Enable scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
}
