@use "../global" as *;
@use "../partials" as *;
@use "../components/button";
@use "../animations";

.hero-home {
  height: 80vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  margin-top: 70px;
  background: linear-gradient(to right, $white, transparent);

  .slider-progress {
    .progress-bar {
      background-color: $primary-08;
      height: 5px;
      // transition: 0.5s;
    }
  }

  .slider-image-div {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .hero-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    min-width: 350px;
    background: transparent;
    // @include breakpoint(desktop1024) {
    //   left: 60%;
    //   transform: translate(-50%, -50%);
    // }
    // @include breakpoint(desktop1200) {
    //   left: 65%;
    //   transform: translate(-50%, -50%);
    // }
  }

  .slider-pagination {
    position: absolute;
    bottom: 3rem;
    right: 16%;
    // transform: translateX(-50%);
    @include breakpoint(desktop1024) {
      left: auto;
      transform: none;
    }

    .slider-pagination-item {
      margin-right: 10px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      cursor: pointer;
      background-color: transparent;
      transition: background-color 0.3s ease;
      border: 2px solid $white;
      &:hover {
        background-color: $white;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background-color: $white;
      }
    }
  }
}

.about-section {
  padding: 50px 0px;
  background-color: $bg-light-gray;
  @include breakpoint(mobile768) {
    padding: 100px 0px;
  }
  // text-align: center;
  .about-img {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #ffffff;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.12);
  }
  h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: $heading-color;
    @include breakpoint(mobile576) {
      font-size: 36px;
    }
  }

  p {
    // font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: $para-color;
  }
  .commitment {
    background-color: white;
    border-left: 5px solid $primary;
    border-radius: 8px;
    padding: 10px;
  }
  @include breakpoint(mobile576) {
    text-align: flex-start;
  }
}

.services-section {
  background-color: $primary-10;
  padding: 50px 0px;
  position: relative;
  height: fit-content;
  overflow: hidden;

  @include breakpoint(mobile768) {
    padding: 100px 0px;
  }
  .service-item {
    padding: 20px 0px;
    transition: transform 0.3s ease;

    .icon {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      background-color: #1f1f3e; // Dark navy
      color: $primary;
      font-size: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    h5 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &:hover {
      transform: scale(1.05); // Hover effect
    }
  }
  .right-img {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    @include breakpoint(desktop1024) {
      opacity: 1;
    }
  }
  .read-more {
    color: $primary;
    font-weight: 500;
    &:hover {
      color: darken($primary, 30%);
    }
  }
}

.free-service-section {
  padding: 50px 0px;
  .features-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding: 76px 0px;
    background-color: #fff;

    @include breakpoint(mobile576) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(desktop1024) {
      grid-template-columns: repeat(3, 1fr);
    }
    .feature-item {
      text-align: center;
      display: flex;
      align-items: center;
      gap: 5px;
      width: fit-content;
      // flex: 1;
      .icon {
        i {
          font-size: 30px;
          color: $primary;
        }
      }

      h3 {
        font-size: 20px;
        // margin: 0;
        font-weight: bold;
        color: $heading-color;
      }

      p {
        margin: 0;
        font-size: 14px;
        color: $para-color;
      }
    }
  }
}

// shared styles
.section-title {
  font-size: 26px;
  font-weight: bold;
  color: $heading-color;
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    top: 70%;
    right: -65px;
    display: block;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 4px;
    background-color: $primary;
    border-radius: 3px;
    // opacity: 0;
    transition: opacity 0.3s ease;
    @extend .blinking;
  }
  @include breakpoint(mobile576) {
    font-size: 36px;
  }
}

.our_team_sec {
  padding: 50px 0px;
  height: fit-content;
  overflow: hidden;

  @include breakpoint(mobile768) {
    padding: 100px 0px;
  }
  background-color: $primary-10;

  .our_team_container {
    // @include flex-center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
    gap: size(29);
    flex-wrap: wrap;
    padding-top: size(33);
    .team {
      background-color: $white;
      // width: 246px;
      // height: 481px;
      // padding: 20px;
      border-radius: 8px;
     
      i {
        font-size: 40px;
        text-align: center;
        color: $primary;
        display: inline-block;
        margin-bottom: 1rem;
      }
      .team_body {
        padding: size(28);
        text-align: center;
        .team_count {
          // @include font($primaryFont, 70, 400, normal, 78);
          font-family: $primaryFont;
          font-size: 20px;
          margin-bottom: 16px;
          color: $heading-color;
        }
        .team_name {
          // @include font($primary, 24, 600, normal, 32);
          // color: $primary;
          font-family: $primaryFont;
          font-size: 16px;
          color: $para-color;
        }
      }
    }
  }
}

.additional-sections {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  @include breakpoint(mobile576) {
    padding-bottom: 100px;
  }
  flex-wrap: wrap;
}

.attract-sec {
  padding-top: size(50);
  padding-bottom: size(50);
  // background-image: url("../../assets/images/secbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  position: relative;
  @include breakpoint(tab992) {
    padding-top: size(100);
    padding-bottom: size(100);
  }
  h2 {
    font-size: 36px;
    color: $white-01;
  }
  p {
    font-size: 18px;
    color: $white-02;
  }
  .wrapper-att {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @include breakpoint(tab992) {
      flex-direction: row;
      justify-content: space-between;
    }
    .content {
      max-width: 600px;
    }
  }
  .ll-btn-primary {
    background-color: transparent;
    // border-radius: 0;
    color: $white-01;
    border-width: 2px;
    &:hover {
      background-color: $primary;
    }
  }
}

.testimonials-section {
  padding-top: size(50);
  padding-bottom: size(50);
  background-color: rgba(0, 0, 0, 0.5);
  // background-image: url("../../assets/images/testimonial-banner-min.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  @include breakpoint(tab992) {
    padding-top: size(100);
    padding-bottom: size(100);
  }
  text-align: center;
  .section-title {
    color: $white-01;
  }
  .section-subtitle {
    color: $white-02;
    margin-bottom: 2rem;
  }
  .testimonial-item {
    margin-bottom: size(40);
    background-color: $primary;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    figure {
      width: 50px;
      margin: 20 auto;
    }
    .user-name {
      color: $heading-color;
      font-weight: bold;
    }
    .profession {
      color: rgba(0, 0, 0, 0.5);
    }
    .user-review {
      margin-top: size(10);
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .section-bottom {
    display: flex;
    justify-content: space-between;
    .slider-pagination {
      display: flex;
      align-items: center;
      .slider-pagination-item {
        margin-right: 10px;
        cursor: pointer;
        display: inline-block;
        width: 10px;
        aspect-ratio: 1;
        background-color: $primary;
        border-radius: 50%;
        &.active {
          border: 2px solid $primary;
          width: 16px;
        }
      }
    }
    .ll-btn-primary {
      background: transparent;
      color: $white-01;
      &:hover {
        background: $primary;
      }
    }
  }
}
