@use "../../global" as *;
@use "../../partials" as *;

// .footer {
//   background-color: #f2f2f2;
//   padding-top: 3rem;
//   svg {
//     color: #03be64;
//     transition: 0.3s;
//     &:hover {
//       fillOpacity: 0.7;
//     }
//   }
//   .footer-body {
//     // display: grid;
//     // grid-template-columns: repeat(2, 1fr);
//     @include flex-center;
//     flex-direction: column;
//     gap: 20px;
//     @include breakpoint(tab992) {
//       @include flex-between;
//       flex-direction: row;
//     }
//     padding-bottom: 30px;
//     .logo {
//       width: 150px;
//       margin-bottom: 20px;
//     }
//     .resourse-wrapper {
//       display: flex;
//       justify-content: flex-end;
//       gap: 100px;
//       @include breakpoint(tab992) {
//         width: 30%;
//       }
//       .nav-link {
//         color: #263238;
//         padding-left: 0;
//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//     .footer-address {
//       ul {
//         li {
//           display: flex;
//           gap: 10px;
//           padding: 6px 0px;
//           color: black;
//           a {
//             color: rgba(black, 0.7);
//           }
//         }
//       }
//     }
//   }
//   .footer-bottom {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding: 18px 0px;
//     border-top: 1px solid rgb(209, 209, 209);
//     gap: 10px;
//     @include breakpoint(mobile576) {
//       @include flex-between;
//       flex-direction: row;
//     }
//     .icon-wrapper {
//       display: flex;
//       max-width: 12rem;
//       gap: 16px;
//     }
//   }
// }


footer {
  background-color: #1a1a1a;
  padding: 70px 0 60px;
  padding-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .logo {
    width: 30%;
    color: white;
    @include font($primaryFont, 18, semibold, normal, normal);
    @include flex;
    gap: 8px;
  }
  @include breakpoint(desktop1200) {
    .logo {
      flex: 1;
      @include font($primaryFont, 16, semibold, normal, normal);
    }
  }
  .section-title {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: size(30);
    position: relative;
    font-size: 1.4em;
    &::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 3px;
      background-color: $primary;
      bottom: size(-10);
      left: 50%;
      transform: translateX(-50%);
      @include breakpoint(tab992) {
        transform: translate(0);
        left: 0;
      }
    }
  }
  .footer-left {
    @include flex-column;
    gap: size(20);
    align-items: center;
    text-align: center;
    @include breakpoint(tab992) {
      align-items: flex-start;
      text-align: left;
    }
    .footer-logo {
      height: 60px;
    }
    .footer-text {
      color: #979797;
    }
  }
  .footer-middle {
    @include flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(tab992) {
      align-items: flex-start;
    }
  }
  .footer-right {
    @include flex-column;
    text-align: center;
    align-items: center;
    @include breakpoint(tab992) {
      align-items: flex-start;
    }
  }
  .links {
    display: flex;
    justify-content: space-between;
    @include w100;
    .footer-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: size(20);
      a {
        color: #979797;
        font-size: 14px;
        @include hover {
          color: $primary;
          transform: translateX(8px);
        }
      }
    }
  }
  .footer-address {
    @include flex-column;
    gap: size(10);
    padding: 0;
    margin: 0;
    align-items: center;
    @include breakpoint(tab992) {
      align-items: flex-start;
    }

    li {
      @include flex;
      gap: size(10);
      color: #979797;
      .h1 {
        font-size: 14px;
        font-weight: 700;
      }
      .text {
        font-size: 14px;
        font-weight: 400;
        color: #979797;
      }
    }
  }
  .socials {
    @include flex;
    gap: 5px;
    margin-top: 50px;
    a {
      border-radius: 50%;
      border: 1px solid #333;
      background-color: #222;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      height: 38px;
      width: 38px;
      color: #fff;
      @include hover {
        background-color: $primary;
      }
    }
  }
}
.footer-bottom {
  background: #101010;
  padding: 20px 0;
  .bottom-wrapper {
    @include flex-between;
    align-items: center;
    flex-direction: column;
    gap: size(20);
    text-align: center;
    @include breakpoint(mobile576) {
      flex-direction: row;
    }
    @include breakpoint(tab992){
      text-align: left;
    }
    p {
      color: #979797;
    }
    .footer-link {
      @include list-horizontal;
      gap: size(20);

      a {
        color: #666;
        @include hover {
          color: $primary;
        }
      }
    }
  }
}