@use "../../global" as *;
@use "../../partials" as *;

footer {
  background-color: #1a1a1a;
  padding: 70px 0 60px;
  padding-bottom: 0;

  .logo {
    width: 30%;
    color: white;
    @include font($primaryFont, 18, semibold, normal, normal);
    @include flex;
    gap: 8px;
  }
  @include breakpoint(desktop1200) {
    .logo {
      flex: 1;
      @include font($primaryFont, 16, semibold, normal, normal);
    }
  }
  .footer-title {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: size(30);
    position: relative;
    font-size: 1.4em;
  }
  .footer-left {
    @include flex-column;
    gap: size(20);
    align-items: center;
    text-align: center;
    @include breakpoint(tab992) {
      align-items: flex-start;
      text-align: left;
    }
    .footer-logo {
      height: 60px;
    }
    .footer-text {
      color: #979797;
    }
  }
  .footer-middle {
    @include flex;
    flex-direction: column;
    align-items: center;
    a {
      color: inherit;
    }
    @include breakpoint(tab992) {
      align-items: flex-start;
    }
  }
  .footer-right {
    @include flex-column;
    text-align: center;
    align-items: center;
    @include breakpoint(tab992) {
      align-items: flex-start;
    }
    .btn-outline-secondary {
      background-color: transparent;
      border: 1px solid $primary;
      color: $primary;
      &:hover {
        background-color: $primary;
        color: white;
      }
    }
  }
  .links {
    display: flex;
    justify-content: space-between;
    @include w100;
    .footer-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: size(20);
      a {
        color: #979797;
        font-size: 14px;
        @include hover {
          color: $primary;
          transform: translateX(8px);
        }
      }
    }
  }
  .footer-address {
    @include flex-column;
    gap: size(10);
    padding: 0;
    margin: 0;
    align-items: center;
    @include breakpoint(tab992) {
      align-items: flex-start;
    }

    li {
      @include flex-center-vert;
      gap: size(10);
      .hl {
        svg,
        i {
          color: $primary !important;
          font-size: 18px;
        }
      }
      .text {
        font-size: 14px;
        font-weight: 400;
        color: #979797;
      }
    }
  }
  .socials {
    @include flex;
    gap: 5px;
    // margin-top: 50px;
    a {
      border-radius: 50%;
      border: 1px solid #333;
      background-color: #222;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      height: 38px;
      width: 38px;
      color: #fff;
      @include hover {
        background-color: $primary;
      }
    }
  }
}
.footer-bottom {
  background: #101010;
  padding: 20px 0;
  .bottom-wrapper {
    @include flex-between;
    align-items: center;
    flex-direction: column;
    gap: size(20);
    text-align: center;
    @include breakpoint(tab992) {
      flex-direction: row;
    }
    @include breakpoint(tab992) {
      text-align: left;
    }
    p {
      color: #979797;
    }
    .footer-link {
      @include list-horizontal;
      gap: size(20);

      a {
        color: #666;
        @include hover {
          color: $primary;
        }
      }
    }
  }
}
