@use "../global" as *;
@use "../partials" as *;
@use "../components/button";

.hero-home {
  height: 80vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  margin-top: 70px;
  .slider-progress {
    .progress-bar {
      background-color: $primary-08;
      height: 5px;
    }
  }

  .slider-image-div {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .hero-content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    min-width: 350px;
    @include breakpoint(desktop1024) {
      left: 60%;
      transform: translate(-50%, -50%);
    }
    @include breakpoint(desktop1200) {
      left: 65%;
      transform: translate(-50%, -50%);
    }
  }

  .slider-pagination {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint(desktop1024) {
      left: auto;
      transform: none;
    }

    .slider-pagination-item {
      margin-right: 10px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      cursor: pointer;
      background-color: transparent;
      transition: background-color 0.3s ease;
      border: 2px solid $white;
      &:hover {
        background-color: $white;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background-color: $white;
      }
    }
  }
}

.about-section {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  .about-img {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #ffffff;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.12);
  }
  h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: $heading-color;
    @include breakpoint(mobile576){
      font-size: 36px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: $para-color;
  }

  @include breakpoint(mobile576){
    text-align: start;
  }
}
