@use "../global" as *;
@use "../partials" as *;
@use "../components/button";
@use "../animations";

.hero-home {
  height: 80vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  margin-top: 70px;
  .slider-progress {
    .progress-bar {
      background-color: $primary-08;
      height: 5px;
    }
  }

  .slider-image-div {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .hero-content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    min-width: 350px;
    @include breakpoint(desktop1024) {
      left: 60%;
      transform: translate(-50%, -50%);
    }
    @include breakpoint(desktop1200) {
      left: 65%;
      transform: translate(-50%, -50%);
    }
  }

  .slider-pagination {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint(desktop1024) {
      left: auto;
      transform: none;
    }

    .slider-pagination-item {
      margin-right: 10px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      cursor: pointer;
      background-color: transparent;
      transition: background-color 0.3s ease;
      border: 2px solid $white;
      &:hover {
        background-color: $white;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background-color: $white;
      }
    }
  }
}

.about-section {
  padding: 50px 0px;
  @include breakpoint(mobile768) {
    padding: 100px 0px;
  }
  text-align: center;
  .about-img {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #ffffff;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.12);
  }
  h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: $heading-color;
    @include breakpoint(mobile576) {
      font-size: 36px;
    }
  }

  p {
    // font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: $para-color;
  }

  @include breakpoint(mobile576) {
    text-align: start;
  }
}

.services-section {
  background-color: $primary-10;
  padding: 50px 0px;
  position: relative;
  height: fit-content;
  overflow: hidden;
  
  @include breakpoint(mobile768) {
    padding: 100px 0px;
  }
  .service-item {
    padding: 20px 0px;
    transition: transform 0.3s ease;
    
    .icon {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      background-color: #1f1f3e; // Dark navy
      color: $primary;
      font-size: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    h5{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &:hover {
      transform: scale(1.05); // Hover effect
    }
  }
  .right-img{
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    @include breakpoint(desktop1024) {
      opacity: 1;
    }
  }
  .read-more{
    color: $primary;
    font-weight: 500;
    &:hover {
      color: darken($primary, 30%)
    }
  }
}

// shared styles
.section-title {
  font-size: 26px;
  font-weight: bold;
  color: $heading-color;
  position: relative;
  display: inline-block;
  &::after{
    content: "";
    position: absolute;
    top: 70%;
    right: -65px;
    display: block;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 4px;
    background-color: $primary;
    border-radius: 3px;
    // opacity: 0;
    transition: opacity 0.3s ease;
    @extend .blinking;
  }
  @include breakpoint(mobile576) {
    font-size: 36px;
  }
}
