.testimonial-card {
  
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-bottom: 2rem;
}
.stars {
  color: #ffc107;
  margin-bottom: 0.5rem;
}

.testimonial-image {
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.12);
}
