@use "../../global" as *;
@use "../../partials" as *;
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .8s ease-in-out;
  z-index: 9;
  backdrop-filter: blur(10px);
}

.navbar {
  width: 100vw;
  .logo {
    width: 100px;
    height: 60px;
    @include font($primaryFont, 18, semibold, normal, normal);
    @include flex;
    gap: 8px;
    & > img {
      object-fit: contain;
    }
  }

 
  .logout-btn{
    // background-color: rgba($danger, 0.2);
    color: $danger;
  }
  .zp-btn {
    @include breakpoint(phone500) {
      padding: 8px 10px !important;
    }
  }
  @include breakpoint(desktop1200) {
    .logo {
      // flex: 1;
      @include font($primaryFont, 25, semibold, normal, normal);
    }
  }
  .offcanvas {
    min-height: 0;
    // background-color: $primary;
    width: min(70vw, 400px);
    height: 100vh;
    .nav-link {
      // color: #fff !important;
      transition: 0.3s;
      margin: 0px 10px;
      padding: 5px 0;
      position: relative;
      font-weight: 600;
      @include breakpoint(desktop1200) {
        color: #111;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0%;
        height: 3px;
        background-color: $primary;
        transition: 0.3s;
        left: 50%;
        transform: translateX(-50%);
      }
      &:hover::after {
        width: 100%;
      }
      &:hover {
        color: $primary !important;
        font-weight: 500;
      }
    }
  }
  .contact {
    color: $primary;
  }
}

.active_nav_link {
  color: $primary !important;
  font-weight: 500;
  position: relative;
  &::after {
    width: 100% !important;
    height: 2px;
    background-color: $primary;
  }
}
