@use "../../global" as *;
@use "../../partials" as *;
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .8s ease-in-out;
  z-index: 9;
  backdrop-filter: blur(10px);
}

.navbar {
  width: 100vw;
  .logo {
    width: 100px;
    height: 60px;
    @include font($primaryFont, 18, semibold, normal, normal);
    @include flex;
    gap: 8px;
    & > img {
      object-fit: contain;
    }
  }
.nav-item{
  @include font($primaryFont, 16, semibold, normal, normal);
  margin-right: 16px;
  &:last-child {
    margin-right: 0;
  }
  .nav-link{
    color: #2C2E33 !important;
    transition: color 0.3s ease;
    &:hover {
      color: $primary !important;
    }
  }
}
 


  @include breakpoint(desktop1200) {
    .logo {
      // flex: 1;
      @include font($primaryFont, 25, semibold, normal, normal);
    }
  }

}

.active_nav_link {
  color: $primary !important;
  font-weight: 500;
  position: relative;
  &::after {
    width: 100% !important;
    height: 2px;
    background-color: $primary;
  }
}
