$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$primary:  rgb(46, 185, 133);
$primary-09: rgb(46, 185, 133, 0.3);
$secondary-color: #4a4a4a;
$green-light: #3fe09d;
// THEME-COLORS

// BACKGROUND-COLORS
$bg-light-gray: #F9FAFB;


// TEXT-COLORS
$heading-color: #101a29;
$para-color: #737588;

// GRADIENT-COLORS
$danger: hsl(0, 91%, 54%);

// BORDER-COLORS

// BOX-SHADOWS
$authshadow: 0 0 0.25rem 0 rgba($black, 0.2);
