@use "../global" as *;
@use "../partials" as *;

@keyframes rotating {
  from {
    @include rotate(0);
  }
  to {
    @include rotate(360);
  }
}

.rotating {
  animation: rotating 12s linear infinite;
}

.updown {
  animation: updown 1s cubic-bezier(0.36, 0.07, 0.57, 0.99) infinite;
}

@keyframes updown {
  0% {
    @include translateY(size(4));
  }

  50% {
    @include translateY(size(12));
  }

  100% {
    @include translateY(size(4));
  }
}

// blinking animation

.blinking {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.increaseWidth{
  animation: increaseWidth 5s ease-in-out infinite;
}
@keyframes increaseWidth {
  0% {
    width: 0%;
  }
  to {
    width: 100%;
  }
}